.upload-wrapper{
    background-color: #FFFFF0;

    height: 87vh;
}
.upload-container{
    position: relative;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
}
.upload-title{
    text-align: center;
    font-size: 32px;
    margin-top: 1rem;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    letter-spacing: 0.06rem;
}
.upload-inputs{
    width: 80%;
}
.upload-inputs form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;

}
.file-label{
    font-family: "Cinzel", serif;
    font-weight: 600;

}

.take-a-photo{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}

.preview-btn{
    margin-top: 0.5rem;
    background-color: #FFFFF0;
    display: flex;
    gap: 1rem;
    font-size: 18px;
    padding: 0.5rem 0 0.3rem 0.6rem;
    border: 2px #483118 solid;
    border-radius: 0.5rem;
    font-family: "Cinzel", serif;
    font-weight: 500;
}

.upload-btn{
    background-color: #483118;
    color: #F7E7CE;
    padding: 0.5rem 0;
    margin-top: 1rem;
    font-size: 17px;
    font-weight: 600;
    border-radius: 0.5rem;
    font-family: "Cinzel", serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px #faddb3 solid;
}

.upload-btn button:hover{
    cursor: pointer;

}
.upload-btn button:active{
    transform: scale(0.98);
    background-color: #6e5840;
}
.guidelines{
    margin-top: 2rem;
}
.guideline-title{
    font-size: 26px;
    margin: 1rem 0;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    letter-spacing: 0.06rem;

}

.guideline{
    font-family: "Cinzel", serif;
    font-weight: 500;
    font-size: 14px;
}

hr{
    margin-top: 0.5rem;
    border: #483118 solid 1px;
}

.preview{
    position: absolute;
    top: 4%;
    width: 80%;
    height: auto;
}